<!DOCTYPE html>
<html lang="ja">

  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="<%= meta.desc %>" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <!-- <link rel="icon" href="./assets/images/favicon.ico" /> -->
    <link rel="shortcut icon" href="../assets/images/favicon.ico">
    <link rel="stylesheet" href="./assets/css/app-min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css?family=IM+Fell+English|Playfair+Display:900" rel="stylesheet">
    <!--facebook用-->
    <meta property="og:title" content="<%= meta.title %>" />
    <meta property="og:description" content="<%= meta.desc %>" />
    <meta property="og:url" content="" />
    <meta property="og:image" content="" />
    <!--絶対パスで記述-->
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="<%= meta.title %>" />
    <meta property="og:locale" content="ja_JP" />
    <!--twitter用-->
    <meta name="twitter:card" content="summary_large_image" /><!-- summary summary_large_image photo gallery appから選ぶ -->
    <!-- <meta name="twitter:site" content="" /> -->
    <!--twitterがあれば記述-->
    <meta name="twitter:title" content="<%= meta.title %>" />
    <meta name="twitter:url" content="" />
    <meta name="twitter:description" content="<%= meta.desc %>" />
    <meta name="twitter:image" content="" />
    <!--絶対パスで記述-->
    <title>
      <%= meta.title %>
    </title>
  </head>

  <body>
    <div class="l-wrap">
